* {
    box-sizing: border-box;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #c1d9db;
}

header {
    text-align: center;
    padding: 40px;
    background-color: #e2e5e5;
}

header h1 {
    font-size: 50px;
    font-family: Times New Roman;
    margin-bottom: 0;
    padding-bottom: 0;
}

header p {
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
    color: #61e7e4;
}

#main-div {
    display: flex;
    margin: auto;
    flex-direction: row;
    background-color: #f4f4f4;
    width: 1000px;
    margin-top: 150px;
    margin-bottom: 150px;
    box-shadow: -58px 61px 48px rgba(0,0,0,0.45);
}

#div-left {
    background: #35424a;
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
    width: 240px;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    text-decoration: bold;
}

.line-line {
    background: black;
    height: 3px;
    flex: 1;
    margin-left: 60px;
}

.line h2 {
    padding-left: 15px;
    flex-direction: row;
    font-family: Courier New, Lucida Console;
}

.line h4 {
    padding-left: 150px;
    flex-direction: row;
    color: black;
}

#div-left .icon {
    font-size: 30px;
}

#div-left #left-list {
    list-style: none;
    text-align: center;
    padding-right: 40px;
}

#div-left img {
    padding-bottom: 20px;
}

#div-left img {
     max-width: 140px;
}

#div-left #image img {
    width: 7%; 
    height: 7%; 
    object-fit: contain; 
}

#div-left a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    border: #ffffff solid;
    padding: 5px 10px;
}

#div-left a:hover{
    color: #cccccc;
    font-weight: bold;
}

#div-right {
    background: #e3ebeb;
    color: black;
    padding: 20px;
    flex: 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    color: currentColor;
    background-color: #e2e5e5;
}

.progress-bar-parent {
    background-color: #c1d9db;
    width: 160px;
    height: 13px;
}

.progress-bar-parent .progress-bar {
     background-color: black;
    height: 13px;
}

.progress-bar-parent .progress-bar-0 {
    width: 0%;
}

.progress-bar-parent .progress-bar-20 {
    width: 20%;
}

.progress-bar-parent .progress-bar-40 {
    width: 40%;
}

.progress-bar-parent .progress-bar-60 {
    width: 60%;
}

.progress-bar-parent .progress-bar-80 {
    width: 80%;
}

.progress-bar-parent .progress-bar-100 {
    width: 100%;
}

.f-content p {
    text-align: left;
    padding-left: 15px;
    font-weight: bold;
    font-family: Courier New, Lucida Console
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.section .titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    color: currentColor;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.section p {
    font-family:  Apple Chancery, cursive;
}

.section ul {
    font-family: Apple Chancery, cursive;
}

.section {
    margin-top: 0;
    padding-top: 0;
}

.titles h2 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
}

.titles h5 {
    padding-top: 0;
    margin-top: 0;
    color: #61e7e4;
    font-size: 15px;
} 

.titles h3 {
    font-family: FreeMono, monospace;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
    color: black;
    font-size: 25px;
} 

.francisco p {
    padding-top: 0;
    margin-top: 0;
    text-align: justify;
    color: black;
} 

.york p {
    padding-top: 0;
    margin-top: 0;
    text-align: justify;
    color: black;
} 

.block, .block1 {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    flex-grow: 1;
    border-bottom: black solid;
}

.block p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.block h3 {
    color: #61e7e4;
}

.block {
    border-left: black solid;
}

/********** Sign In Page **********/


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.page-sign-in {
	background: #c3c0c6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
    font-size: 35px;
    color: #15e5ca;
}

.hello {
    color: aliceblue;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
    font-family: "Lucida Console", Courier, monospace;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 10px;
	border: 2px solid #fefefe;
	background-color: #15e5ca;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.sign-in {
    background-color: transparent;
    background-repeat: no-repeat;
}

button:active {
	transform: scale(0.95);
}

button:hover {
    background-color: #dcefff;
    color: #00a9be;
}

button:focus {
	outline: none;
}

button .sign-in {
	background-color: transparent;
	border-color: #fefefe;
}

.sign-in:hover {
    background-color: aliceblue;
    color: #00a9be;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
    background-color: #e5edee;
    display: flex;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    justify-content: left;
	align-items: left;
	flex-direction: column;
}

.div-left {
	left: 0;
	width: 450px;
	z-index: 2;
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
    flex: 1;
}

.div-right {
	position: absolute;
	top: 0;
	width: 40%;
    left: 60%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.content {
	background: linear-gradient(to right, #5711e5, #20f2d7);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
    right: 0;
}

.overlay-left {
	transform: translateX(-20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 2px solid white;
	border-radius: 20%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
    color: aliceblue;
	margin: 0 5px;
	height: 40px;
	width: 120px;
}

.social-container .fb {
    background-color: #2d59b2;
    border-radius: 10px;
}

.social-container .gmail {
    background-color: crimson;
    border-radius: 10px;
}
}